[2022-03-12 18:36] benjitrosch opened #27 "Storybook Color Readability Issues"
Many of the Storybook stories feature components without backgrounds and the readability is very low. For example, our Collapse component:

<img width="524" alt="Screen Shot 2022-03-12 at 1 33 40 PM" src="https://user-images.githubusercontent.com/64439681/158030471-b558f7e2-f17f-43bb-948d-245c9db2ce82.png">

Here's how the Collapse component (and all components) are displayed on the daisyUI site:

[2022-03-21 16:04] balibou opened #69 "Did you mean to import react/jsx-runtime.js?"
I have installed the package on a nextjs application (with nx).
I succeed to render a button just like in the quickstart of the readme.

But 2 seconds later, I have an error popping:

[code]

[code]

[2022-03-21 17:05] benjitrosch commented on #69
Hi @balibou ,

As far as I'm aware this is unfortunately a known issue with Next.js at the moment. However, there is a [fix](https://github.com/vercel/next.js/issues/27977#issuecomment-1009413994) that we've been using on our Next.js applications at work.

Install the package [next-transpile-modules](https://www.npmjs.com/package/next-transpile-modules). At the top of your next.config.js add the f

[2022-03-21 17:09] balibou commented on #69
Hi @benjitrosch,

Thanks for the quick and detailed explanation.
I'll be happy to make it work that way then 😃

[2022-03-21 17:09] #69 closed, assigned to nobody

[2022-04-15 16:30] benjitrosch commented on #27
This issue has been resolved with #87

[2022-04-15 16:31] #27 closed, assigned to nobody

[2022-04-19 16:47] benjitrosch opened #97 "All components need an optional "responsive" prop"
For built-in responsiveness we need to add an optional "responsive" prop (defaulted to true in Storybook) pre-baked with TailwindCSS breakpoints:

https://tailwindcss.com/docs/screens

Ultimately, users should implement their own sizing to suit their needs. **However**, at the moment many of our Storybook components are too large for the preview container on mobile and this doesn't give a good fir

[2022-04-19 16:54] benjitrosch opened #98 "Missing Storybook examples"
We want to achieve full coverage of our components in Storybook. This means all features and design options available to users are represented by a separate story.

At the very minimum, we want to show as much as the official [daisyUI](https://daisyui.com) docs show to demonstrate that everything has been ported over for this React wrapper.

Here are the components missing stories from the daisyUI

[2022-04-21 13:04] hanspoo opened #100 "Classes of react components not being added to styles.css"
Hi,

Thanks for this project, is really cool, i have a problem with the nextjs integration, i've noticed the classes of the react components are not being scaned, becuase they're not being added to the global styles.css tailwind file, not static not jit, it seems that its because the component library is not being scanned for the new tailwind classes they need, ¿ any ideas ?

Thanks, Hans

[2022-04-21 15:43] benjitrosch commented on #100
Hi @hanspoo,

I'm not sure I understood the problem. You shouldn't see any new styles automatically generated in your styles.css file (unless you manually build and output there yourself which you don't need to do). TailwindCSS includes styles based on the `content` property in the config file (we recommend to either safelist all during development with `pattern: /./` or include the package `node_

[2022-04-21 19:50] hanspoo commented on #100
If i add node_modules/react-daisyui/dist/react-daisyui.cjs in tailwind.config.js, like this:

[code]

I got this error:

Failed to compile

./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[1]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./src/pages/styles.css
TypeError: Cannot

[2022-04-21 19:51] hanspoo commented on #100
postcss.config.js
[code]

[2022-04-21 19:51] hanspoo commented on #100
package.json
[code]

[2022-04-22 14:23] benjitrosch commented on #100
Thanks for including the package.json! That was very helpful. Everything was working when recreating your example until I copy/pasted your package.json — maybe some mixture of packages contained in there leads to the error you're getting?

Using your package.json I was able to remove all errors using this fix:
https://github.com/daisyui/react-daisyui/issues/69

For your tailwind.config.js, use thi

[2022-04-22 16:41] hanspoo commented on #100
Thank you Benji, it works, tried to pach my project with the fix, didn't work, so i ended up using your project.

[2022-04-22 16:41] #100 closed, assigned to nobody

[2022-04-24 22:39] mikeyGlitz opened #101 "Input does not honor type attribute"
I've tried to create an `Input` with the following code:

[code]

What I get when the DOM renders is:

[code]

What I expected was:

[code]

I believe this line needs to be changed:
https://github.com/daisyui/react-daisyui/blob/main/src/Input/Input.tsx#L48

[code]

Also, text shows up in the IDE auto-complete:
![image](https://user-images.githubusercontent.com/606924/164999736-edc8e44a-a1c8-470a-a

[2022-04-25 15:00] benjitrosch commented on #101
Fixed with #102 . Thanks @mikeyGlitz!

[2022-04-25 15:00] #101 closed, assigned to nobody

[2022-04-25 19:05] MrSquaare opened #108 "Anchor element specific properties for Button"
Currently, if the `href` property is set to a `Button` component, the anchor element is used.
However, it is not possible to use anchor specific properties like `rel` or `target`.

A solution to multi-element components is to propose a property (react-bootstrap named it `as`, reactstrap named it `tag`) allowing to specify the type of element (in the case of the `Button` component, it would be eith

[2022-04-26 00:38] benjitrosch commented on #108
Hi @MrSquaare,

We previously attempted button/anchor polymorphism (modelled after reactstrap specifically) but I removed it in #72. The reason being that it caused type safety issues.

We may attempt it again in the future, and if you would like to open a PR it would be very welcome!

Personally, I would rather keep the code as clean and type safe as possible, even if it comes with a small loss o

[2022-04-26 16:45] bannarisoftwares opened #109 "Not able to generate new component"
Getting exception while running `npm run generate component Square`

**Output:**

[code]

**Expected:** create new component

[2022-04-26 19:32] benjitrosch commented on #109
Hey @bannarisoftwares,

Thanks for reporting this. Could you post your `node` and `npm` versions? I'm going to try my best to reproduce your circumstances since it's currently working on my machine, and then try to find a fix.

[2022-04-27 20:35] MrSquaare commented on #108
Hello @benjitrosch,

I didn't know there was an attempt before.
Indeed, polymorphism is somewhat complicated for React components, especially when it comes to ref forwarding.

I tried in the evening to find some solutions, but I always have compromises.

I found a blog post (that you may have already consulted) that I adapted for the Button component and that seemed to be the best: https://www.ben

[2022-04-28 15:39] benjitrosch commented on #109
###### Removed this message because I misread something 😆

[2022-04-28 15:45] bannarisoftwares commented on #109
Sorry for late reply... Node version = v12.13.0,
 npm = 8.6.0

[2022-04-28 15:48] benjitrosch commented on #109
Thanks @bannarisoftwares. I will take a look!

[2022-04-28 15:50] bannarisoftwares commented on #109
Hi @benjitrosch , I cloned this repo react-daisyui, and excecute this `npm run generate component NewComponent` cmd from root dir. of this folder... during that time... i am getting this error. am i wrong?

[2022-04-28 15:51] benjitrosch commented on #109
My mistake, I misread your initial post. You are using it correctly!

I will investigate further based on your node version.

[2022-04-28 15:52] bannarisoftwares commented on #109
Sure @benjitrosch , Thank you for the support...

[2022-04-28 15:54] benjitrosch commented on #109
@bannarisoftwares I just tested with Node 12.13.0 and got the same error as you. For plop to work please upgrade to at least Node 14 or above. I upgraded from 12.13.0 to 14.19.1 and was able to generate a component!

[2022-04-28 15:57] bannarisoftwares commented on #109
sure @benjitrosch .. I will try and let you know soon

[2022-04-28 16:09] bannarisoftwares commented on #109
Working great after updated to v14... Thank you for the support @benjitrosch

[2022-04-28 16:09] #109 closed, assigned to nobody

[2022-04-28 16:12] benjitrosch commented on #109
Very glad to hear it worked, always happy to help!

I used a tool called nvm (https://github.com/nvm-sh/nvm) which lets me install and use several different versions of Node at once. I find it very helpful for this sort of thing and always recommend it to people!

[2022-04-28 16:51] bannarisoftwares commented on #109
Got it.... Thank you..

[2022-05-07 12:20] rvramesh commented on #108
My 2 cents. There are 3 usescases I could think of.

1. Make a button look like link. (eg. Expand All or Collapse All). In this case there is no need for `rel` or `target` etc. The current `Button` I believe handles this case

2. In second case, you genuinely need a link and may be can we consider `Link`

3. For third case of a `Link` to look like `Button`. Can a `Form` be used along with the `But

[2022-05-09 23:20] melissamcewen commented on #69
With the fix do we still have to use next-transpile-modules?

[2022-06-07 08:28] Igosuki opened #116 "Using safelist /./ is too slow"
Tailwind is too slow with such a safelist pattern (advised on README.md), if I remove it I go from 2s compilation time to 300ms, and I have a 12 core processor (although I'm not sure if this is multi-threaded).

Any idea why this happens, and if we should simply add an exhaustive whitelist for daisy ?

[2022-06-08 15:11] benjitrosch commented on #116
Hi @Igosuki,

You're right, it's definitely not optimal and we should reevaluate that. Can you try removing the safelist, and instead add `"node_modules/daisyui/dist/**/*.js"` to your content? I'm curious to see how the compilation time compares.

[2022-06-08 15:55] Igosuki commented on #116
Using content lookup has even better perf than safelists it seems (about 15%)

[2022-06-13 21:27] indicozy opened #119 "pnpm: ERR_MODULE_NOT_FOUND react/jsx-runtime"
I use pnpm to solve some npm dependencies bugs but now I cannot import  `react-daisyui`.

### Error

[code]

Stack: NextJS v12.1.6, React v17.0.2, daisyui v2.15.3, react-daisyui v2.0.3

[2022-06-20 06:15] khanhhaquang opened #123 "Drawer in Storybook doesnt work"
Click action in `https://react.daisyui.com/?path=/story/layout-drawer--default`  doesn't open Drawer Side

[2022-06-20 06:22] #123 closed, assigned to nobody

[2022-06-20 06:22] khanhhaquang commented on #123
There is prop `open`

[2022-06-20 06:54] khanhhaquang opened #124 "Missing Swap in Storybook"
Currently, there's no example of `Swap` in storybook

[2022-06-20 07:02] khanhhaquang commented on #124
There is `Swap` already

[2022-06-20 07:02] #124 closed, assigned to nobody

[2022-06-20 17:30] redxzeta opened #127 "NavBar.Center not in the center for wide screens"
![image](https://user-images.githubusercontent.com/19883954/174652889-c9443eef-bf86-4c30-ac5d-66941da9a4d2.png)

[2022-06-21 07:00] bannarisoftwares opened #128 "https://react.daisyui.com/ site is down"
https://react.daisyui.com/ is down,

Getting this error

Error 1016 Ray ID: 71eadc6d8f098602 • 2022-06-21 06:59:21 UTC
Origin DNS error
What happened?
You've requested a page on a website (react.daisyui.com) that is on the Cloudflare network. Cloudflare is currently unable to resolve your requested domain (react.daisyui.com).

What can I do?
If you are a visitor of this website:
Please try again i

[2022-06-21 07:58] khanhhaquang opened #129 "Allow Button accept Link as custom component"
Currently there no choice to custom `Button` to be `Link` from react-router.

Expected like:
`<Button component={<Link to='/somewhere' />} />`

[2022-06-21 14:00] benjitrosch commented on #129
Hi @khanhhaquang,

The correct way to do this would be like so:
[code]

If you believe adding the `component` prop would be valuable you are welcome to open a PR. Typically, react-daisyui tries to be as close to semantic HTML as possible, but if a new prop offers a huge value-add (or is common enough in other component libraries) then I would be happy to merge it in.

I'm curious where you got tha

[2022-06-21 14:01] benjitrosch commented on #128
Hi @bannarisoftwares,

Seems Cloudfare was down last night and took out half of the internet with it 😅! https://www.cloudflarestatus.com/incidents/xvs51y9qs9dj

Should be resolved now.

[2022-06-21 14:01] #128 closed, assigned to nobody

[2022-06-21 14:03] benjitrosch commented on #127
Hi @redxzeta,

From the look of it your `<Navbar.Center />` is centered but your content is left aligned. Have you tried adding `flex justify-center` to center your content within the `<Navbar.Center />`?

[2022-06-21 14:04] benjitrosch commented on #119
Hi @indicozy,

I'll be looking into this further, sorry for the delay. I'm not too familiar with pnpm so apologies for not testing whether or not it would work with pnpm.

I'll keep you updated here whenever I find a fix!

[2022-06-21 14:15] khanhhaquang commented on #129
Surely it's a solution, but nested `button` in `anchor` is not match with HTML5 standard, reference to [this](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-a-element)

[2022-06-21 14:46] indicozy commented on #119
Hi, @benjitrosch
Gotcha, feel free to tag me if you need more info!

[2022-06-21 15:01] redxzeta commented on #98
I'll work on Hero :)

[2022-06-21 17:33] benjitrosch commented on #129
Sorry, you are correct, I was not thinking when I wrote that comment! 😅

In some ways this relates to #108 because we fundamentally lack a way to use a `<Button />` with an anchor internally (unless an href is passed in, and even then with limited functionality). A solution that allows us to render an anchor tag would make the button suitable for use with react-router.

btw: am I correct that the

[2022-06-21 17:49] benjitrosch opened #131 "Prevent `stories.d.ts` files from appearing in built package"
Possible solutions would be to move all component Storybook files to a separate folder and ignore it, or perhaps use pattern matching to exclude `.stories.tsx` files from the build.

[2022-06-23 06:14] khanhhaquang commented on #129
Hi Benji, actually it's just an popup idea to custom the wrapper as a Component.

Another solution for this case is using `navigate` function instead of `Link` from `react-router` .  I think you're right, not that worth to implement just for this case.

[2022-06-24 00:23] redxzeta opened #137 "Create Tests for components"
Unit / Integration testing  especially for all the stateful components

[2022-06-24 14:45] redxzeta commented on #137
- [x] Alert
- [x] Artboard
- [x] Avatar
- [x] Badge
- [ ] Breadcrumbs
- [x] Button
- [ ] ButtonGroup
- [ ] Card
- [ ] Carousel
- [ ] Checkbox
- [ ] CodeMockup
- [ ] Collapse
- [ ] Countdown
- [ ] Divider
- [ ] Drawer
- [ ] Dropdown
- [x] Footer
- [ ] Form
- [ ] Hero
- [ ] Indicator
- [ ] Input
- [ ] InputGroup
- [ ] Kbd
- [ ] Link
- [ ] Mask
- [ ] Menu
- [x] Modal
- [ ] Navbar
- [ ] Pagination
- [

[2022-06-26 16:29] redxzeta opened #144 "Dropdown.Item with NavLink"
Using `NavLink`  from `react-router-dom` with `<DropDown.Item>`, I would get this in the console

` <a> cannot appear as a descendant of <a>.`

Wondering if there's a way to use `NavLink` and `DropDown.Item`

Workaround:

[code]

[2022-06-27 11:01] nelsonlaidev commented on #69
Still not working in `react`
reproduce: https://stackblitz.com/edit/daisyui-react-cra-cojacw

[2022-06-27 11:08] nelsonlaidev opened #145 "Is there documentation for react-daisyui?"
Thanks for this amazing library ❤️

UPDATED: I misunderstand that it is an official library

I don't know how to use react-daisyui + daisyui + Tailwindcss in Next.js

When I try to use them,  the CSS of daisyui is not loaded.

I found a tutorial before that I need to add `'node_modules/react-daisyui/dist/react-daisyui.cjs',` to tailwind config content.

After doing that it works, but there are som

[2022-06-27 14:41] benjitrosch commented on #145
Hi @TszHong0411,

No worries, this is the official library! 😄

I'm not sure which tutorial you followed (could you link it?) but the correct path would be `"node_modules/daisyui/dist/**/*.js"`. Give that a try and let me know if that fixes it for you!

[2022-06-27 14:43] benjitrosch commented on #144
Ah, yeah that will be a problem since the DropdownItem renders an anchor. Let me see what I can do about that, and post a PR here!

[2022-06-27 16:47] redxzeta opened #146 "SVG as an option for avatar"
Include option to use svg in `Avatar`

[2022-06-27 17:46] nelsonlaidev commented on #145
Thanks a lot. It works.
Oh, It is an issue of this repo. #100
My fault 😂

[2022-06-27 17:46] #145 closed, assigned to nobody

[2022-06-28 21:59] neotan opened #147 "<Select.Option/>'s `onChange(Event)` can't get the `value` prop/attribute"
**Reproduction:**
https://codesandbox.io/s/react-daisyui-example-forked-x46041?file=/src/App.tsx

**Expected behavior (in plain HTML):**
Should get the `value` attribute
https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_select

**Actual result:**
Getting the `inner text` of `<Select.Option>INNER TEXT</Select.Option>`

**Related code:**
The root cause should be the missing `value` prop here

[2022-06-28 23:20] benjitrosch commented on #147
Hi @neotan,

Thanks for finding this! I've added the missing value prop to the `SelectOption` it with this PR:

https://github.com/daisyui/react-daisyui/pull/148

[2022-07-01 16:09] benjitrosch commented on #147
@neotan the fix for this has been released with 2.0.5, closing the ticket now.

[2022-07-01 16:09] #147 closed, assigned to nobody

[2022-07-03 10:16] imtheaman commented on #137
@benjitrosch May i get assigned this issue please?

[2022-07-03 14:32] benjitrosch commented on #137
@urtheaman Sure, thank you!

[2022-07-04 05:35] imtheaman commented on #137
@benjitrosch Thanks.

[2022-07-09 02:15] justinmetros opened #161 "feature request: tag prop on Theme component"
Feature Request:
- allow for `tag` prop ( or similar ) on `Theme` component so it can be rendered as an element [other than `div`](https://github.com/daisyui/react-daisyui/blob/1efbc390c7824180a6eb1b2b6ac0cd22f70acfbe/src/Theme/Theme.tsx#L49)

Use Case:
[code]
Output:
[code]

Will try to open a PR if space allows and this interests the team, but floating this idea up in the meantime.

Thanks for a

[2022-07-10 14:14] benjitrosch commented on #161
Hey @justinmetros,

Great idea! If you want to open a PR that would be great, otherwise I can take a look at this during the week and try to open a PR.

[2022-07-13 15:28] #131 closed, assigned to nobody

[2022-07-14 00:09] #146 closed, assigned to nobody

[2022-07-14 13:40] awolkers opened #167 "Bug: React Drawer input checkbox throws warning"
When using the (react) Drawer the following warning is thrown.
 _You provided a `checked` prop to a form field without an `onChange` handler. This will render a read-only field. If the field should be mutable use `defaultChecked`. Otherwise, set either `onChange` or `readOnly`._

[2022-07-15 11:59] oentoro opened #168 "Collapse checkbox cannot close on mobile browser (os: ios 15.5)"
Hi,i have an issue when using collapse (with checkbox) on mobile browser (chrome, safari)
[Try this on mobile browser](https://react.daisyui.com/?path=/story/data-display-collapse--checkbox)

[2022-07-15 20:50] benjitrosch commented on #167
Hi @awolkers,

Thanks for finding this! The warning message should go away after #169 is merged. Until then, feel free to ignore it!

[2022-07-16 03:08] tianyingchun opened #170 "Does react-daisyui support Modularize Imports"
for now many front end libaray support `Modularize Imports ` it will can reduce app bundle size, such as next.js, and so on. could you plan to support this?

[2022-07-16 13:56] benjitrosch commented on #170
Hi @tianyingchun,

I'm afraid I do not understand what you are asking. Are you perhaps asking if using named imports will increase bundle size, or if tree shaking will work with your bundler/framework (sounds like you're using Next.js)?

[2022-07-16 13:58] benjitrosch commented on #168
Hi @oentoro,

Thanks for finding this. I'm able to reproduce on my mobile as well... very strange! I'll look for a fix this weekend and open a PR.

[2022-07-17 01:16] tianyingchun commented on #170
@benjitrosch  sure you are right: i am use next.js, in fact other framework also support this, tree-shaking.

`import {Theme} from 'react-daisyui'` it will only import `react-daisyui/theme` it's fine,

[2022-07-19 02:58] redxzeta commented on #137
@urtheaman  how many of the tests did you cover? wondering if I could pick some of the leftover

[2022-07-19 05:18] imtheaman commented on #137
Hey @redxzeta, could you please do from 32-47(RadialProgress - WindowMockup)?
I'm involved in multiple things right now, but i'll make the pr soon.

[2022-07-19 20:01] fabio-d-m opened #173 "Alert component has children within a label element"
First of all, thank you for the react library :D

Having the react children within a label makes it impossible to create something like the following
![image](https://user-images.githubusercontent.com/44569796/179835908-8417897f-7bd1-4b26-9e7c-dc6393a6b306.png).

Just deleting the label wrapper will make the component more extensible.
Also, a little suggestion: since the Icon is rendered as it is

[2022-07-19 22:35] #127 closed, assigned to nobody

[2022-07-19 23:33] #173 closed, assigned to nobody

[2022-07-19 23:52] #167 closed, assigned to nobody

[2022-07-19 23:52] #161 closed, assigned to nobody

[2022-07-21 15:59] Geczy commented on #119
im using yarn and have the same issue, any update?

[2022-07-25 15:05] #170 closed, assigned to nobody

[2022-07-27 04:42] bboyz269 commented on #116
I got some missing css when change to `content: ['node_modules/daisyui/dist/**/*.js']`. For example, "p-2" class from dropdown content is missing.
![image](https://user-images.githubusercontent.com/4453811/181162663-64757c85-3a40-4093-b362-5cfbad015c5b.png)

Is this specifc case or is there something else? Sorry if issue not related.

[2022-08-16 20:55] benjitrosch commented on #137
@urtheaman Have you made any progress on any tests? I would prefer if you didn't "claim" any and instead simply make a PR per component as you finish them. That way we avoid blocking others who wish to contribute, and also keep the PR's a manageable size.

[2022-08-16 21:19] benjitrosch opened #195 "Add optional "space" prop to <AvatarGroup> (default to "-space-x-6")"

[2022-08-16 21:21] benjitrosch commented on #195
Reserving this issue for @maurodaprotis 💪

[2022-08-17 03:13] imtheaman commented on #137
@benjitrosch okay. some of them are remaining. I'll submit 'em today or tomorrow.
Thanks.

[2022-08-18 11:27] giacomorebonato opened #197 "Could not find a declaration file for module 'react-daisyui'"
Typings works perfectly if for example I include "react-daisy-ui" in a NextJS app.
But they are not working [in a project where I am using ESM](https://github.com/giacomorebonato/Jack-Fastify) (I believe this is somehow the cause of the issue).

[code]

And of course I see that typings are present, so I don't really understand where the problem is coming from.
Do you have any idea?

[2022-08-18 12:22] imtheaman commented on #137
@benjitrosch  I need some more time. hard to manage time b/w work, learnings and open source contributions.

[2022-08-20 04:34] #197 closed, assigned to nobody

[2022-08-21 13:16] MrSquaare commented on #116
You should also add `node_modules/react-daisyui/dist/**/*.*js` to `content` of the TailwindCSS configuration

[code]

EDIT: But for some conditional classes it doesn't work (like tooltip position classes)

[2022-08-22 01:06] mazondo commented on #97
Instead of adding responsive specifically to start, thoughts on just adding first class support for `className` in ways that make sense for each component?  I'm hitting that right now with the `Dropdown` component - you cannot pass custom classes into it and as a result things like a full width button trigger are a pain.

[2022-08-22 14:15] benjitrosch commented on #137
@urtheaman There's no pressure to do everything, and it's probably better that you don't! You can always just PR what you have and contribute more in the future depending on your schedule 😄

[2022-08-22 18:22] maurodaprotis commented on #195
I can take this one!

[2022-08-23 11:39] imtheaman commented on #137
sure! once i finish the bugs on my current project(which will be done in
2-3 days). i'll be free for few days.

On Mon, Aug 22, 2022 at 7:45 PM Benji ***@***.***> wrote:

[2022-08-24 21:51] #195 closed, assigned to maurodaprotis

[2022-08-25 02:10] heschong opened #204 "TableHead and TableRow don't set a key on their th/td children"
This causes a `Warning: Each child in a list should have a unique "key" prop` warning in the console

[2022-08-29 04:59] arvigeus commented on #168
As per [this PR](https://github.com/saadeghi/daisyui/pull/784), the problem is `tabIndex` on div element. When `checkbox` is true, `tabIndex` should be placed on the `<input type="checkbox">` element,

[2022-09-08 10:56] Klaas058 opened #207 "Table component not passing 'key' prop to children of lists"
Component: Table
Issue: Table component not passing 'key' prop to children of lists

Currently the Table component is not passing the 'key' prop to its children that are returned by the array.map in Row, Footer and Head component.
This is causing client side warnings and possibly unnecessary rerenders of the children.

I've already written the fix for it but I do not have the rights to open a bran

[2022-09-08 13:00] benjitrosch commented on #207
Hi @Klaas058,

Thank you for helping out, would be happy to accept the contribution!

In order to open a PR on an Open Source project on GitHub, you first click `Fork` in the upper-right corner. This will create a copy of the repo on your account. Then, from your copy, you can open a pull request against the main branch of the original repo. I recommend to follow this guide for making contribution

[2022-09-08 15:10] Klaas058 commented on #207
Hi @benjitrosch,

Thanks for the reply, you've spotted a first time contributor to open source, thank you for showing me the steps!
I've opened a pull request against main like you said, I will watch if any issues or feedback arise.

Thanks again and happy to help :)

[2022-09-08 18:01] benjitrosch commented on #207
Happy to help, thanks for contributing! I should be able to review the PR soon!

[2022-09-08 18:01] #207 closed, assigned to nobody

[2022-09-10 09:30] Klaas058 commented on #204
This issue is fixed by pull request #208, can we get a review on it?

[2022-09-11 00:51] neotan opened #209 "The Dropdown didn't handle its custom className from its props properly"
## Issue:
If I try passing a custom classname, the Dropdown didn't pass/merge it with other classnames properly.

## Example
### Input
[code]
### Expected output
[code]
### Actual output
[code]

[2022-09-11 03:40] benjitrosch commented on #209
@neotan Thanks for finding and fixing this!

[2022-09-11 03:40] #209 closed, assigned to nobody

[2022-09-11 03:40] benjitrosch commented on #204
@Klaas058 Merged, thanks for fixing this!

[2022-09-11 03:40] #204 closed, assigned to nobody

[2022-09-11 03:42] neotan commented on #209
Glad to contribute to this amazing UI lib. Cheer!🍻

[2022-09-16 05:22] bboyz269 opened #213 "Checkbox - controlled/uncontrolled components warning when specify `checked` property"
**Issue**
Due to `defaultChecked` is always set internally, if `checked` is also set, warning is thrown

    at input
    at eval (webpack-internal:///../../node_modules/react-daisyui/dist/react-daisyui.modern.js:4689:24)

**Point of interest**: https://github.com/daisyui/react-daisyui/blob/8887f5f93567b683a1d74024a4da65a80fec5798/src/Checkbox/Checkbox.tsx#L26-L37

**Suggestion**: Don't set defaul

[2022-09-16 17:03] benjitrosch commented on #213
Hi @bboyz269, great catch! Thank you for finding this!

I'll label this as a `Good First Issue` if anybody looking for an easy first contribution wants to tackle and implement the suggested fix. I'm in favor of removing them entirely and leaving it up to props as you said.

[2022-09-16 18:57] erichartline commented on #137
Hi, is this checklist up to date? I might be able to help write some tests.

[2022-09-16 19:26] benjitrosch commented on #137
@wildlifehexagon I believe so!

Ignore any comments claiming specific components, all PR's will be accepted on a first come first serve basis. So take whichever you like!

[2022-09-17 08:46] cyr-l opened #215 "Rating component does not work as expected"
Hi 👋,

I'm experiencing erratic behavior with the `Rating` component.

The issue occurs locally and on the [documentation site](https://react.daisyui.com/?path=/story/data-input-rating--default).

https://user-images.githubusercontent.com/215009/190849229-80beff6f-1a7a-41cd-b69f-6e544a9a0a83.mov

[2022-09-17 08:52] Klaas058 commented on #213
I'd be happy to implement the fix, as you said, both properties can be removed.
Both the `checked` and `defaultChecked` are part of the HtmlInputElement props so removing them won't effect property suggestions either.

Are you ok with me implementing the fix @benjitrosch? since it's not my first issue.

[2022-09-17 09:19] cyr-l commented on #215
Oh, it looks like it is coming from the `checked` attribute (second item in the doc).

If I remove it, the component is working correctly.

Maybe this is supposed to be `defaultChecked` instead?

[2022-09-19 04:51] benjitrosch commented on #213
@Klaas058 yeah, that's no problem-- PR's are on a first-come-first-serve basis, so feel free!

[2022-09-19 08:48] Klaas058 commented on #144
The workaround you mentioned sounds like a viable solution to me.
The Daisyui [docs](https://daisyui.com/components/dropdown/) for the dropdown shows the usage of the `li><a>Item 1</a></li>` strategy.
The only thing `react-daisyui` does is wrapping that and exposing it as the Dropdown.Item static.

My suggestion would be to leave it as is and maybe have an example story about it.

What do y'all th

[2022-09-22 21:12] willmatos commented on #215
@benjitrosch

First off thanks for all the work on this project! Truly awesome and I'm enjoying using it.

I am also running into issues with the Rating component in regards to the checked functionality. My build doesn't seem to be picking up a specific style `.rating input:checked ~ input, .rating input[aria-checked=true] ~ input { --tw-bg-opacity: 0.2; }` for the inputs that follow the checked i

[2022-09-23 14:02] benjitrosch opened #220 "Remove state from Tabs component"
Our current `<Tabs>` parent component maintains the active tab value in  a `useState` and passes the value along to all of the child `<Tab>` components.

https://github.com/daisyui/react-daisyui/blob/main/src/Tabs/Tabs.tsx

However, this internal state-keeping causes problems when we attempt to control Tabs from the outside using the `value` prop. It would be more correct to call the `value` prop

[2022-09-25 11:28] chillx2land opened #221 "Background color not applied by status prop"
Hi 👋

## problem

[code]

<img width="404" alt="スクリーンショット 2022-09-25 20 24 01" src="https://user-images.githubusercontent.com/27806180/192141014-82e9f7de-ab65-4ca8-99a0-db0b520aa255.png">

## dependensies
[code]

[2022-09-25 11:35] chillx2land commented on #221
Sorry i made mistake!!

[2022-09-25 11:35] #221 closed, assigned to nobody

[2022-09-26 13:10] #168 closed, assigned to nobody

[2022-09-26 13:10] #213 closed, assigned to nobody

[2022-09-29 12:47] mattiaz9 opened #223 "Use the `defaultValue` or `value` props on <select> instead of setting `selected` on <option>"
I got this warning from webpack:
[code]

[2022-09-29 13:52] Klaas058 commented on #223
Hi @mattiaz9!

Thank you for opening the issue, you are right, I see the issue warning too when using the Select component.

I believe the issue is similar to the issue in #215 (proposal for a fix in #222) where the `value` prop is part of the [controlled](https://reactjs.org/docs/forms.html#controlled-components) component by React and the `selected` prop is part of the [uncontrolled](https://rea

[2022-10-03 15:39] mattiaz9 opened #225 "Popups should use portals"
Popups such as modals and dropdowns should use portals for the content to avoid problems with overflow: hidden or z-indexes.

[2022-10-05 14:38] chargome commented on #220
Hey @benjitrosch, can you assign the issue to me?

I looked into it and I think that handling the state outside of the `<Tabs>` component through the `value` and `onChange` props would make more sense and feel more intuitive.

[2022-10-06 21:01] #220 closed, assigned to nobody

[2022-10-09 15:07] benjitrosch commented on #225
Hi @mattiaz9,

Indeed they should, however the portal implementation should be left up to users. While React/CRA could just use `ReactDOM.createPortal()`, Next.js might render server side where the `document` and `window` object do not exist and would require a `typeof window !== 'undefined'` check.

[2022-10-11 03:31] #223 closed, assigned to nobody

[2022-10-11 03:31] #215 closed, assigned to nobody

[2022-10-12 09:57] bboyz269 commented on #116
This solved the issue. It didn't occur to me that react components of daisyui uses some additional classes compared to css ones.

[2022-10-12 18:36] Pr0dt0s opened #234 "Tooltip positional classes not working"
The positional classes are not being picked up from source files. Seems to be related to a change some time ago from safelisting every class to using content as per instrunction in the README file:

https://github.com/daisyui/react-daisyui/blob/50b25e687ccae19110a425ca6c94b79f6519d02b/README.md?plain=1#L35-L42

Line number 39 in Tooltip.tsx seems to be the problem; It is interpolating a class maki

[2022-10-12 20:35] Klaas058 commented on #234
Hi @Pr0dt0s thanks for opening the issue.

This doesn't seem to be an interpolation issue, the classes get put on correctly but the tooltip position classes do not seem to exist.
I've tested this locally too, editing the Tooltip component, removing the interpolation, and forcing the `tooltip-left`  class directly on the component (and the bottom, top, right classes too for that matter).
The classe

[2022-10-13 14:40] #225 closed, assigned to nobody

[2022-10-15 16:11] wjdwl002 commented on #137
May i get assigned some of them? (like around 2-3 would be good)
I'm new to open source contribution so picking not really complicated ones for me would be appreciated !
Thanks

[2022-10-18 02:19] Pr0dt0s commented on #234
Hi @Klaas058, I just tested this fix and it worked, maybe I did something diferent, can you check out PR #235.

If this is the path forward, what do you think of refactoring all the string interpolations?

It would defenitely follow [tailwind´s guidelines](https://tailwindcss.com/docs/content-configuration#dynamic-class-names) regarding classnames in file contents.

[2022-10-18 08:33] Klaas058 commented on #234
Hi @Pr0dt0s, I've responded in PR #235 with a [comment](https://github.com/daisyui/react-daisyui/pull/235#issuecomment-1282009893).

You're right that it would be following the tailwind guideline.
But if upgrading the `tailwind-merge` dev dependency to `^1.6.2` works then I vote for that.

[2022-10-19 08:33] mattiaz9 opened #236 "Can't change `Select` value programmatically"
Since the value of the select is stored in a local state of the Select component, any manual change of the value don't update the selected option.

Possbile fix (default react behavior):
1. Directly pass the `value` to the `<select>` tag
2. Rename `initialValue` in `defaultValue` and pass it directly in the html tag as well

So basically the code should look like this:
[code]

[2022-10-19 11:34] Klaas058 commented on #236
Hi @mattiaz9 thank you for opening the issue!

I agree that you should be able change the value programmatically, though a combination of `value` and `defaultValue` would not be inline with the React guidelines.
A component should either be a [controlled](https://reactjs.org/docs/forms.html#controlled-components) component or an [uncontrolled](https://reactjs.org/docs/uncontrolled-components.html)

[2022-10-19 11:39] mattiaz9 commented on #236
@Klaas058 if you think it is better I'm not opposed to that as long as it works.

Personally though I don't like it very much. The `Select` component should be an extension of the `<select />` html tag and if you were to use a normal select you either use a value/onChange controlled approach or you use the defaultValue approach.
Either way is the developer that should deal with this problem, not t

[2022-10-19 12:04] Klaas058 commented on #236
@mattiaz9 I see what you mean, I'm not opposed making the component in the **library** an `uncontrolled` component so that the control is left to the developer.

I would be happy with your proposal though I don't see a use-case for the `defaultValue`.
Since `defaultValue` is already in the HTMLSelectElement props we don't need it in ours since we don't change anything.
We can just leave it to the

[2022-10-19 12:13] mattiaz9 commented on #236
@Klaas058 yes, you are right. I forgot that you passed all the default props to the component, so indeed the `defaultValue` it's not needed anymore.

I'll make a pull request as soon as I can 👍🏻

[2022-10-19 13:14] benjitrosch commented on #137
Hi @wjdwl002,

Feel free to try any you would like. I will not be assigning components to anybody, but will review PR's as they come in. All of the components should be easy to test (for the most part they're light on state), so you can't go wrong in choosing!

[2022-10-20 10:02] Igosuki commented on #116
I should add that if you are using a workspace with yarn 3, with a directory structure for instance of ```root/myapp``` you need to add ../node_modules instead of simply node_modules.

[2022-10-21 05:39] macklinhrw commented on #119
I'm having the same issue with pnpm

[2022-10-21 15:14] Klaas058 commented on #119
Hi @macklinhrw, I do not have the issue with pnpm.

What versions of the following packages are you using?

- react
- react-dom
- react-daisyui
- @types/react
- @types/react-dom
- typescript

As far as I understand the problem, it is a mismatch between typescript, react, react-dom and @types/react.
Lets see if we can figure this out :)

[2022-10-21 23:14] macklinhrw commented on #119
Thank you,
I was able to fix the issue after updating react.
My React version before the update was: `v17` whereas the latest version is `v18.2.0`

[2022-10-22 12:47] #236 closed, assigned to nobody

[2022-10-23 22:12] michaelangeloio commented on #100
Thank you for this thread! the key was:
[code]

[2022-10-24 01:40] hanspoo commented on #100
Thanks 🙏

El dom, 23 de oct. de 2022 7:12 p. m., Michael Angelo <
***@***.***> escribió:

[2022-10-26 18:02] cstaleror opened #243 "I can´t set Dropdown.Item as active"
I´m trying to create a dropdown and set one item as active but I can't, I have to use Menu.Item with a div as child with 'active' class. I'd like to set 'active' as prop (No className)... Thank you

[2022-10-26 18:45] Klaas058 commented on #243
Hi @cristianTalero,

I'm a little confused by your question.
The DaisyUI Dropdown component doesn't have an 'active' class or alike.
Can it be you are looking for something like the [Select](https://react.daisyui.com/?path=/story/data-input-select--default) component?

If not, can elaborate a bit on the issue?

[2022-10-26 18:56] cstaleror commented on #243
@Klaas058 Thanks for your answer

I can't set dropdown menu item as active, 'active' class doesn't work

[2022-10-26 19:15] Klaas058 commented on #243
You're welcome @cristianTalero,

As far as I am aware the [Dropdown](https://daisyui.com/components/dropdown/) from DaisyUI is not built for that use case.
The dropdown component just drops stuff down ^^.
We do not typically add or change any behavior, just merely build the css+html into React components.
If you want to have an active class, you are free to add that functionality to your implement

[2022-10-27 01:40] BWBama85 opened #244 "NextJS v13.0 issues"
[code]

next.config.js:

[code]

[2022-10-27 04:39] BWBama85 commented on #244
Resolved here for those who run into this with NextJS 13: https://github.com/vercel/next.js/issues/41929#issuecomment-1292934463

[2022-10-27 19:40] benjitrosch commented on #244
Hey @BWBama85,

Thanks for looking into this and finding a fix with Client Components!

I'll look into merging a permanent solution. Since only the `Theme` component uses Context, maybe we can refactor, or mark it as `use client` and recommend a new way to add nesting theming without the `useTheme` hook.

[2022-10-27 19:40] #244 closed, assigned to nobody

[2022-10-27 19:42] benjitrosch commented on #243
Hi @cristianTalero,

Perhaps you're looking for the `open` prop to force the `<Dropdown>` to be open without user interaction? If not, could you elaborate on what you're trying to achieve with it?

[2022-10-31 00:35] #243 closed, assigned to nobody

[2022-10-31 19:41] #234 closed, assigned to nobody

[2022-11-01 12:45] mattiaz9 opened #246 "Typescript types haven't been generated in the last release"
I get the classic error `Could not find a declaration file for module 'react-daisyui'`

Version `2.4.4` works fine.

[2022-11-01 15:34] cefn commented on #246
I have this same issue. Projects that worked in 2.4.4 are now showing no typing information for react-daisyui, breaking builds.
![image](https://user-images.githubusercontent.com/159819/199273183-48a514ce-dd82-46d3-b3d6-dc6e536a232d.png)

[2022-11-01 16:13] benjitrosch commented on #246
Thanks for finding this @mattiaz9 and @cefn. I'll take a look at all the commits since 2.4.4 and try to identify the issue!

[2022-11-01 18:51] xaamin commented on #246
Hi,

I created a PR [247](https://github.com/daisyui/react-daisyui/pull/247) to fix this issue introduced by the setup of jest-dom library used by testing in the most recent release.

Adding a new file outside of src path was accidentally causing the compiler to copy out the whole src directory in the dist folder.

@benjitrosch do you mind adding a code-owner approval if this looks good?

[2022-11-02 01:23] benjitrosch commented on #246
Fixed by @xaamin's PR. Thanks!

[2022-11-02 01:23] #246 closed, assigned to nobody

[2022-11-05 03:55] wjdwl002 opened #251 "Some of Storybook examples don't show full code"
<img width="830" alt="스크린샷 2022-11-05 오후 12 39 10" src="https://user-images.githubusercontent.com/72961728/200099282-c67691b5-5417-455c-81cc-1c30dbef3ab9.png">
<img width="840" alt="스크린샷 2022-11-05 오후 12 39 16" src="https://user-images.githubusercontent.com/72961728/200099284-378f2da0-6d7e-49ad-bc17-4a0c06eec527.png">

Some of Storybook examples at which some additional property ad

[2022-11-13 18:23] arjunindia opened #253 "Vercel deploy doesn't have any styles using Next.js"
Repo of code with issue : [https://github.com/arjunindia/fake-ecommerce-app](https://github.com/arjunindia/fake-ecommerce-app)
Vercel deploy: https://fake-ecommerce-app.vercel.app/
![image](https://user-images.githubusercontent.com/37960163/201537854-96079b77-4ca9-4af6-9dbd-1b5c6542f772.png)

[2022-11-14 03:17] #253 closed, assigned to nobody

[2022-11-15 08:28] systemkrash opened #254 "using prefix: 'tw-' in tailwind.config.js"
im having an issue when im using prefix: 'tw-' in tailwind.config.js when i use the components from react-daisyui it wont add prefix on react-daisyui components any workaround?

[2022-11-24 21:43] pmrzygweb opened #256 "How to apply different colors for Range component?"
color prop only accepts primary, secondary, accent?

[2022-11-27 18:42] benjitrosch commented on #256
Hi @pmrzygweb, seems these additional colors for the `Range` component became available in daisyui version 2.35.0. I'll update our package version accordingly to bring in these new changes!

[2022-11-29 16:17] chris-hinds opened #257 "Collapse component not open ing or closing"
I may be doing something really silly here however I cannot get the collapse component working.

I am using NextJS 13 and the app directory to make use of server components.

This is my example component using `Collapse`

[code]

The component renders, but doesn't show the arrow icon and is always open, modifying the open state does nothing and even just seeing `open={false}` the component remains

[2022-11-29 22:32] pmrzygweb commented on #256
@benjitrosch I have another issue with tabs, can't find a variant "boxed", only "lifted" and "bordered" are available

[2022-11-30 17:38] chris-hinds commented on #257
Perhaps I missed something. Looking at the README I found that tom configure my next.config.js like so;

[code]

However now next fails to run/build with the following error;

[code]